
.category {
  &-title {
    color: #2a2a2a;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-transform: none;
    line-height: 1.4em;
    position: relative;
    &::after{
      content: "";
      width: 100%;
      position: absolute;
      left: 0;
      height: 5px;
      display: block;
      border-bottom: 2px solid #df1f3d;
    }
  }
}
