<div class="category">
  <h3 class="category-title">ЗАПЧАСТИ</h3>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/profile/car-store']" href="">Оригинальный каталог</a>
    </li>
    <li>
      <a class="nav-link" href="">Запчасти для технического обслуживания</a>
    </li>
    <li>
      <a class="nav-link" href="">Каталог заменителей</a>
    </li>
    <li>
      <a class="nav-link" href="">Стекла</a>
    </li>
    <li>
      <a class="nav-link" href="">Подвеска и выхлоп</a>
    </li>
  </ul>
</div>
<div class="category">
  <h3 class="category-title">АВТОХИМИЯ</h3>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/profile/car-store']" href="">Оригинальный каталог</a>
    </li>
    <li>
      <a class="nav-link" href="">Запчасти для технического обслуживания</a>
    </li>
    <li>
      <a class="nav-link" href="">Каталог заменителей</a>
    </li>
    <li>
      <a class="nav-link" href="">Стекла</a>
    </li>
    <li>
      <a class="nav-link" href="">Подвеска и выхлоп</a>
    </li>
  </ul>
</div>
