<div class="row">
  <div class="col-sm-6">
    <div class="form-group field-step4form-lastname">
      <label class="control-label" for="step4form-lastname">Фамилия</label>
      <input type="text" id="step4form-lastname" class="form-control" name="Step4Form[lastname]">

      <div class="help-block"></div>
    </div>
    <div class="form-group field-step4form-firstname required">
      <label class="control-label" for="step4form-firstname">Имя</label>
      <input type="text" id="step4form-firstname" class="form-control" name="Step4Form[firstname]">

      <div class="help-block"></div>
    </div>
    <div class="form-group field-step4form-middlename">
      <label class="control-label" for="step4form-middlename">Отчество</label>
      <input type="text" id="step4form-middlename" class="form-control" name="Step4Form[middlename]">

      <div class="help-block"></div>
    </div>
    <div class="form-group field-step4form-email">
      <label class="control-label" for="step4form-email">Email</label>
      <input type="text" id="step4form-email" class="form-control" name="Step4Form[email]">

      <div class="help-block"></div>
    </div>
    <div class="form-group field-step4form-phone required">
      <label class="control-label" for="step4form-phone">Мобильный телефон</label>
      <input type="text" id="step4form-phone" class="form-control" name="Step4Form[phone]">

      <div class="help-block"></div>
    </div>
  </div>
</div>
