<div class="top">
  <div class="container">
    <nav class="navbar">
      <ul class="nav navbar-nav" *ngIf="!_loginService.isLoggedIn">
        <li class="nav-item pull-right">
          <a (click)="openRegistrationModal(true)" href="#" class="nav-link">Войти</a>
          <a href="#" class="nav-link"></a>
        </li>
        <li class="nav-item pull-right">
          <a (click)="openRegistrationModal()" href="#" class="nav-link" data-hover="Регистрация">Регистрация</a>
        </li>
      </ul>
      <div *ngIf="_loginService.isLoggedIn">
        МОРДА ЛИЧНЫЙ КАБИНЕТ
      </div>
    </nav>
  </div>
</div>

<header class="main-header">

<div class="container">

  <nav class="navbar">
    <a class="navbar-brand" [routerLink]="['']">
      <img src="/assets/logo.png">
    </a>

    <ul class="nav navbar-nav main-menu">
      <li class="nav-item active">
        <a class="nav-link" data-hover="Салон-магазин" href="#">Салон-магазин</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  data-hover="Сервис" href="#">Сервис</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  data-hover="Мы" href="#">Мы</a>
      </li>
      <li class="nav-item pull-right">
        <a class="nav-link" [routerLink]="['/profile']" data-hover="ГАРАЖ">ГАРАЖ</a>
      </li>
    </ul>
  </nav>
</div>
</header>
