a, a:hover, a:active, a:visited {
  outline-width: 0px !important;
  text-decoration: none;

}
body {
  /*background: url("assets/bg.jpg") no-repeat;
  background-size: contain;*/
}
.tab-pane {
  background: #fff;
}
html, body {
  height: 100%;
}
