a, a:hover, a:active, a:visited {
  outline-width: 0px !important;
  text-decoration: none;


}

h1,h2, h3, h4, h5,h6 {
  text-transform: uppercase;
}
.tab-pane {
  background: #fff;
}
html, body {
  height: 100%;
}
body {
  min-height: 100%;
}
app-root, app-profile {
  display: block;
}

app-root {
  padding-bottom: 560px;
}
.wrapper {
  background: #fff;
  z-index: 1;
  position: relative;
}
.breadcrumbs {
  background: rgba(223, 31, 61, 0.7);
  color: #fff;
  padding: 0px 30px;
  height: 75px;
  position: relative;

  h1 {
    text-transform: uppercase;
    font-size: 2em;
    font-style: italic;
    text-align: right;
  }
}
.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.divider {
  &::after {
    content: '';
    display: block;
    margin: 20px 0;
    border-bottom: 2px solid #df1f3d;

  }
}
.main-footer {
  position: fixed;
  z-index: 0;
  bottom: 0;
  width: 100%;
  background-color: #111;
  font-size: 13px;
  transform: translateZ(0);
}
.btn {
  text-transform: uppercase;
}
