<section class="container top">

    <h1 class="breadcrumbs">Гараж</h1>
    <div class="row">
      <nav class="col-lg-3 ">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile/car-store']" href="">Автомобили</a>
          </li>
          <li>
            <a class="nav-link" href="">Заказы</a>
          </li>
          <li>
            <a class="nav-link" href="">Запчасти</a>
          </li>
          <li>
            <a class="nav-link" href="">Сервисная книга</a>
          </li>
          <li>
            <a class="nav-link" href="">Личные данные</a>
          </li>
        </ul>
      </nav>
      <div class="col-lg-9">
        <router-outlet></router-outlet>
      </div>
    </div>

</section>
<div class="container">
  <div class="divider"></div>
  <app-store-services></app-store-services>
  <div class="divider"></div>
  <div class="row">
    <app-categories class="col-lg-9"></app-categories>
    <div class="col-lg-3">
      <img src="assets/ads_black.jpg" alt="" width="100%">
      <img src="assets/vestaxray.jpg" alt="" width="100%">
    </div>
  </div>
</div>
