<div class="row container">
  <div class="col-xs-12"><p class="text-center" style="text-align: center">{{_car.manufacturer}} {{_car.model}} {{_car.year}}</p></div>
  <div class="col-xs-4">PHOTO</div>
  <div class="col-xs-6">
    <ul class="list-group">
      <li class="list-group-item">Дата покупки: 20.12.2015</li>
      <li class="list-group-item">Дата последнего ТО: 20.12.2015</li>
      <li class="list-group-item">Дата следующего ТО: 20.12.2015</li>
      <li class="list-group-item">Сервисная книга</li>
    </ul>
  </div>
</div>
