<span *ngIf="_currentState == _states.ADD_CARS_OR_SHOW_CARS">
  <span add-to-garage-button></span>
  <div *ngIf="getAndSaveGarageCars().length > 0">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let car of _carList" app-garage-single-car [_car]="car" (onSelected)="onCarSelected($event)" ></li>
    </ul>
  </div>
</span>

<span *ngIf="_currentState == _states.SERVICE_BOOK" service-book [carServiceBook]="_garageData.serviceBook" (goBack)="backFromServiceBook($event)">
</span>
