<div class="container">
  <div class="footer">
    <div class="container">
      <div class="row hidden-xs">
        <div class="col-sm-2"><div class="menu">
          <div class="menu__title">Техника</div>
          <div class="menu__item"><a class="menu__link" href="/cars">Автомобили</a></div><div class="menu__item"><a class="menu__link" target="_blank" href="http://active.bipek.kz">Для активного отдыха</a></div><div class="menu__item"><a class="menu__link" target="_blank" href="http://www.hd-almaty.kz/">Harley-Davidson</a></div><div class="menu__item"><a class="menu__link" href="/cars/special">Спецавто</a></div><div class="menu__item"><a class="menu__link" target="_blank" href="http://avant.kz">AVANT</a></div><div class="menu__item"><a class="menu__link" target="_blank" href="http://bipekkamaz.kz">КАМАЗ</a></div><div class="menu__item"><a class="menu__link" target="_blank" href="http://bipekamkodor.kz">Amkodor</a></div></div>
        </div>
        <div class="col-sm-3"><div class="menu">
          <div class="menu__title">Услуги и сервис</div>
          <div class="menu__item"><a class="menu__link" href="/credit">Кредит</a></div><div class="menu__item"><a class="menu__link" href="/service/to">Запись на сервис</a></div><div class="menu__item"><a class="menu__link" href="/testdrive">Запись на тест-драйв</a></div><div class="menu__item"><a class="menu__link" href="/service/to/prices">Стоимость ТО</a></div><div class="menu__item"><a class="menu__link" href="/service/inspection">Сервисная инспекция KIA</a></div><div class="menu__item"><a class="menu__link" href="/kazrosimport">КазРосИмпорт</a></div><div class="menu__item"><a class="menu__link" href="/service/lovato">Газобаллонное оборудование</a></div><div class="menu__item"><a class="menu__link" href="/service/hranitel">«Хранитель»</a></div></div>
        </div>

        <div class="col-sm-2"><div class="menu">
          <div class="menu__title">Компания</div>
          <div class="menu__item"><a class="menu__link" href="/company">Группа компаний</a></div><div class="menu__item"><a class="menu__link" href="/news">Новости, статьи и тест-драйвы</a></div><div class="menu__item"><a class="menu__link" href="/company/club">Клуб БИПЭК АВТО</a></div><div class="menu__item"><a class="menu__link" href="/contests">Конкурсы</a></div><div class="menu__item"><a class="menu__link" href="/library">Библиотека</a></div><div class="menu__item"><a class="menu__link" href="/news/tag/21">Для прессы</a></div><div class="menu__item"><a class="menu__link" href="/vacancy">Вакансии</a></div><div class="menu__item"><a class="menu__link" href="/news/tag/24">Осторожно, мошенники!</a></div></div>
        </div>
        <div class="col-sm-2"><div class="menu">
          <div class="menu__title">Группа компаний</div>
          <div class="menu__item"><a class="menu__link" target="_blank" href="http://aziaavto.kz">АЗИЯ АВТО</a></div><div class="menu__item"><a class="menu__link" target="_blank" href="http://aaukg.ru">АЗИЯ АВТО Усть-Каменогорск</a></div><div class="menu__item"><a class="menu__link" target="_blank" href="http://uaz-autosib.ru">АЗИЯ АВТО Сибирь</a></div><div class="menu__item"><a class="menu__link" target="_blank" href="http://rossika.kz">Россика Пласт</a></div><div class="menu__item"><a class="menu__link" target="_blank" href="http://altaytravel.ru">Рахмановские ключи</a></div><div class="menu__item"><a class="menu__link" target="_blank" href="http://bobrovka.kz">Курорт «Нуртау»</a></div><div class="menu__item"><a class="menu__link" target="_blank" href="http://stroika.bipek.kz">Cтроительство</a></div></div>
        </div>
        <div class="col-sm-3">
          <div class="menu">
            <div class="menu__title">Обратная связь</div>
            <div class="menu__item"><a class="menu__link" href="/contacts">Контакты</a></div><div class="menu__item"><a class="menu__link" href="/callback">Закажите обратный звонок</a></div><div class="menu__item"><a class="menu__link" href="/feedback">Напишите нам</a></div><div class="menu__item"><a class="menu__link" href="/subscribe">Подписаться на рассылку</a></div><div class="menu__item"><a class="menu__link" href="/faq">Часто задаваемые вопросы</a></div></div>
          <div class="soc">
            <ul>
              <li><a href="https://facebook.com/bipek.kz"><img src="/img/static/layout/soc_fb.png" alt="Facebook"></a></li>
              <li><a href="https://vk.com/bipekauto"><img src="/img/static/layout/soc_vk.png" alt="Vkontakte"></a></li>
              <li><a href="https://twitter.com/BIPEK_AVTO"><img src="/img/static/layout/soc_tw.png" alt="Twitter"></a></li>
              <li><a href="https://ok.ru/profile/511046279028"><img src="/img/static/layout/soc_ok.png" alt="Odnoklassniki"></a></li>
              <li><a href="https://www.youtube.com/channel/UCIrdArMvQ2w7cxV7UYctRjg"><img src="/img/static/layout/soc_yt.png" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row soc text-center visible-xs">
        <ul>
          <li><a href="https://facebook.com/bipek.kz"><img src="/img/static/layout/soc_fb.png" alt="Facebook"></a></li>
          <li><a href="https://vk.com/bipekauto"><img src="/img/static/layout/soc_vk.png" alt="Vkontakte"></a></li>
          <li><a href="https://twitter.com/BIPEK_AVTO"><img src="/img/static/layout/soc_tw.png" alt="Twitter"></a></li>
          <li><a href="https://ok.ru/profile/511046279028"><img src="/img/static/layout/soc_ok.png" alt="Odnoklassniki"></a></li>
          <li><a href="https://www.youtube.com/channel/UCIrdArMvQ2w7cxV7UYctRjg"><img src="/img/static/layout/soc_yt.png" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
